<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Pokaż ten post", @post, class: "btn btn-secondary"%> | 
  <%= link_to "Powrót do postów", posts_path, class: "btn btn-secondary" %>
</div>
