<p style="color: green"><%= notice %></p>

<h1>Posty</h1>
<%= link_to "Utwórz nowy post", new_post_path, class: "btn btn-warning m-2" %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

