<p style="color: green"><%= notice %></p>

<h1>Kategorie</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Pokaż tą kategorię", category, class: "btn btn-secondary" %>
    </p>
  <% end %>
</div>

<%= link_to "Utwórz nową kategorię", new_category_path, class: "btn btn-primary" %>
